.logoContener{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}
.ss{
    width:400px ;
    height:180px ;
    z-index: 10000;
}

.marquee-container {
    width: 80%;
    height: 50px;
    position: relative;
    right:20px ;
    overflow: hidden;
    white-space: nowrap;
    background:linear-gradient(to right,rgb(147, 207, 226),rgb(244, 154, 229));
    color: white;
    border-radius:10px ;
    font-size: x-large;

  }
  
  .marquee-text {
    display: inline-block;
    animation: marquee 11s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }